.header {
  background: #fff;
  padding-top: 10px;
  padding-bottom: 10px;

  .profile-status {
    .ant-menu {
      border: none;
    }
    
    .ant-menu-item {
      border: none !important;
    }

    .ant-dropdown-trigger {
      display: flex;
      align-items: center;
    }
  }
  
  .search-box {
    display: flex;
    align-items: center;
  }
}
